<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Twitter [...] - An Azure Sample app</title>
</head>
<body>
	<header>
		<h1 id="deployer">Twitter Calculator</h1>
	</header>
    
	<div id="content">
		{% block content %}{% endblock %}
	</div>
    
	<footer>
		&copy; 2011 - Rafael Dohms;
	</footer>
</body>
</html>