{% extends "layout.html.twig" %}

{% block content %}

<h1>Ok, Gotcha!</h1>

<p>
Our Hamsters are now running in the background getting you your information, please wait and we will get in touch with
fresh baked stats for you.
</p>

{% endblock %}
